* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Balsamiq Sans', cursive;
}

.logo {
  color: #fff;
}

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background: #000;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,#ff0000);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent,#0033ff);
}


.home {
  padding-top: 15%;
  padding-bottom: 6rem;
  widht: 60vh;
  height: 100vh;
  text-align: center;
  color: #000;
  background-image: url("images/anim.gif");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.home-heading-main {
  font-size: 4rem;
  font-weight: bold;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
  background-size: 400%;
  font-family: sans-serif;
  letter-spacing: 2px;
  word-spacing: 3px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.home h3{
  font-style: normal;
  color: white;
}

.home .typing{
  color:red;
}

header.home .home-heading {
  font-size: 2rem;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  color: #fff;
  letter-spacing: 3px;
}

#button-text {
  font-size: 16px;
}


/*Team Section*/
#dark-switch{
  margin-left: 20px;
  margin-top: 20px;
}

body.dark {
  background: #000;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

/*Dark mode*/
.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 4rem;
}

.gallery-block {
  padding-bottom: 60px;
  padding-top: 10px;
}

.gallery-block .heading {
  margin-bottom: 50px;
  text-align: center;
}

.gallery-block .heading h1 {
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  color:red;
}

.gallery-block .heading h2 {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
  color:grey;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold;
}

.gallery-block.cards-gallery .card {
  transition: 0.4s easy;
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block.cards-gallery .card-body {
  text-align: center;
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px;
}

.gallery-block.cards-gallery a {
  color: #212529;
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none;
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {
  .gallery-block .transform-on-hover:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}

/*End of Team Section */
.section-heading {
  color: red;
}


.about {
  padding: 10px 0 0 0;
}

.about .icon-boxes p{
  color: grey;
}

.about .icon-boxes h3 {
  font-size: 35px;
  font-weight: bold;
  color: red;
  margin-bottom: 15px;
}

.about #contact-link{
  color: red;
}

.about .icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #cc1c05;
  border-radius: 50px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: #cc1c05;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background: #cc1c05;
  border-color: #cc1c05
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #cc1c05;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}


.box {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 20px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.box .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(400px at center 100px);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.box:hover .img-box {
  clip-path: circle(80px at center 100px);
  transition-delay: 0s;
}

.box .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.box .content h2 {
  margin: 0;
  padding: 0;
}

.box .content a {
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 5px;
  display: inline-block;
}

.box .content h2,
.box .content p,
.box .content a {
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
}

.box:hover .content h2 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s
}

.box:hover .content p {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.7s
}

.box:hover .content a {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.9s
}

.img-fluid{
  height: 100%;
}

@media screen and (max-width: 550px) {
  .navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-brand #navlogo{
    margin-right : 35px;
  }
  .home .container{
    margin-top: 40%;
  }

  .home-heading-main {
    font-size: 3rem;
    margin-top: 50px;
    font-weight: bold;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    color: #fff;
  }

  header.home .home-heading {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    color: #fff;
    letter-spacing: 1.5px;
  }

  #button-text {
    font-size: 12px;
  }

  .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 15px;
    width: 25px;
    transform: scale(1.5);
  }

  .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 10px;
    width: 10px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }

  .checkbox:checked+.label .ball {
    transform: translateX(10px);
  }

  .fa-moon {
  visibility: hidden;
  }

  .fa-sun {
  visibility: hidden;
  }

  .home .typing-text{
    font-size: 1.1rem;
  }

  .img-fluid{
    height: 400px;
  }

}

/*Subscribe to recieve updates*/
#subs-heading{
  color: red;
}


/* End of Team Section*/

.ribbon {
  width: 100px;
  height: 100px;
  margin: -10px auto;
  background: #f0d803;
  position: absolute;
  top: 0;
  right: 0;
}

.ribbon:before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  border-left: 75px solid #f0d803;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

.ribbon:after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  border-right: 75px solid #f0d803;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

.text {
  text-align: center;
}

.btn-color {
  background: #f0d803;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  padding: 20px 40px;
  background: #f7e759;
  color: #131313;
  text-align: center;
  border: 1px solid #fff;
}

.contact .info i {
  font-size: 30px;
  color: #a31818;
  margin-bottom: 15px;
}

.contact .info h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.contact .info p {
  font-size: 15px;
}

.rounded-cor {
  border-radius: 50px;
}

.form-group{
  margin-top: 10px;
}

.form-control{
  margin-bottom: 10px;
}

/*Footer*/
.copyright{
  color: grey;
}

.social {
  display: flex;
  width: 250px;
  justify-content: space-between;
  list-style: none;
}

.social .list-item {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
}

.social .list-item:after,
.social .list-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, red, yellow);
  border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
  opacity: 0;
  transition: 1s;
}

.social .list-item:after {
  filter: blur(20px);
}

.social .list-item:hover:before,
.social .list-item:hover:after {
  opacity: 1;
}

.social .list-item .list-link {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #000;
  font-size: 28px;
  border-radius: 50%;
  transition: 2s;
}

.social .list-item .list-link i {
  text-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.social .list-item:nth-child(1) a,
.social .list-item:nth-child(1):before,
.social .list-item:nth-child(1):after {
  background: linear-gradient(45deg, #00aeff, #a200ff);
}

.social .list-item:nth-child(2) a,
.social .list-item:nth-child(2):before,
.social .list-item:nth-child(2):after {
  background: linear-gradient(45deg, #00a2ff, #ff1e00);
}

.social .list-item:nth-child(3) a,
.social .list-item:nth-child(3):before,
.social .list-item:nth-child(3):after {
  background: linear-gradient(45deg, #ff008c, #ce6708);
}

.social .list-item:nth-child(4) a,
.social .list-item:nth-child(4):before,
.social .list-item:nth-child(4):after {
  background: linear-gradient(45deg, #0791c7, #f794a5);
}

.button {
  background-color: #f44336;
  color: white;
  border: 2px solid #f44336;
  border-radius: 5px;
  padding: 1.5% 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 1.5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
background-color: white;
color: black;
}

#bot{
  visibility: hidden;
}
